
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
    scroll-behavior: smooth;
     -webkit-user-select: none;
    -webkit-touch-callout: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

.progress_container {
    position: sticky;
    top: 0;
    max-width: 100%;
    height: 0.10em;
    background: black;
    
} 
    .progress_bar {
        height: 0.10em;
        background: blue;
        width: 0%;
    }

/* Navigation bar */


#overallview{
    top: 0.10em;
    /* height: 100%; */
    overflow: hidden;
    background-image: url("./VIZAG\ BLUE\ BAHAMA.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
     background-size: cover;
    
}
           
#navsvg {   
    height: 13.85vh;
    float: left;
}
#headtext {
    float: left;
    margin: 0;
    padding:0.55em;
    color: white;
    font-size:2.187em;
    
}
.nav {
    float: right;
    overflow: hidden;
    margin: 1.56em;  
}
.nav a{     
    float: left;
    text-decoration: none;
    color: white;
    padding: 0.5em  0.4375em; 
}
.nav a:hover {       
    color:  blue;
}
.dropdown {
    float: left; 
    overflow: hidden; 
}
.dropdown .dropbtn {
    border: none;
    /* font-size: 16px; */
    color: white;
    padding: 0.625em 0.4375em;
    background: inherit;
    cursor: pointer;
}
.dropdown_content {
    display: none;
    position: absolute;
}
.dropdown_content a{
    text-align: left;
    float: none;
    display: block;
}
.dropdown:hover , .dropbtn:hover {       
    color:  blue;
}
.dropdown_content a:hover{
    color:  blue;
}
.dropdown:hover .dropdown_content {
    display: block;
}

/* Gallery */

       .introtext_overall_div{
        min-height: 85vh;
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
       }
       @media (min-width: 600px) {
        .introtext_overall_div { 
            height: auto; }
        }
       .introtext_overall_div p{
        color: white;
        opacity: 0.9;
        font-size: 20px;
        text-indent: 2.5vw;
        width:75vw;
        font-family: Lato,sans-serif;
        line-height: 2;
       }
    

    


/* Granite content  */
.granite_content_main_div{
    min-height: 100vh;
    width: 98vw;
    display: grid;
    overflow: hidden ;
    
}
/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
 .granite_content_main_div { 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-columns: 70% 30%;
    height: auto; 
}
}


    /* text section */
    .granite_content_sub_div_text{
        display: grid;
        justify-items: center;
        align-content: center;
        margin-top: 10vh;
    }
        .granite_content_sub_div_text h1{
            font-family: "Josefin Sans",sans-serif;
            font-size: 40px;            
            text-align: center;
            letter-spacing: 5px;
        }
        .granite_content_sub_div_text p{
            text-indent: 7em;
            margin: 3vh 5vw 3vh 5vw;
            font-family: Lato,sans-serif;
            line-height: 2;
            font-size: 16px;
            color: #707070;
        }
        .gallery_button{
            border: none;
            
        }
        .gallery_button a{
            text-decoration: none;
            color:white;

            font-weight: 900;
            letter-spacing: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            border-radius: 25px;
            padding: 1em 0.5em 1em 0.5em;
            text-align: center;
            border: none;

            background: linear-gradient(to right, #ADD8E6 50%, #3C84AB 50%);
            background-size: 200% 100%;
            background-position: right;
            transition: all .5s ease-out;
        }
        .gallery_button a:hover{
            color: #545454;

            border: none;
            content:"Way to";
            cursor: pointer ;
            transition: width 1s;
            width: 200px;          
            background-position: left;
        }
        


        /* image section */
        .granite_content_div_image{
            display: grid;
            place-items: center;                    
        }
        .granite_content_sub_div_image{
            padding: 2em 1em
        }
        .granite_content_sub_div_image_sections{
            display: flex;
        }
        .granite_content_sub_div_image_sections_div{
            padding: 1vw;
        }
        .granite_content_sub_div_image_sections_div img{
            width: 10em;
            height: 10em;
            border-radius: 50%;
            box-shadow: 10px 10px 5px #888888;
            transition: transform .2s;
        }
        .granite_content_sub_div_image_sections_div img:hover{
            transform: scale(1.1);
            box-shadow: none;
        }


 /* We assure you */
        .content_overall_div{
            display: grid;
            width: 100%;
            height: auto;  
            color: white; 
            background-image:url(./BENGAL\ BLACK\ -\ TG.jpeg); 
            background-repeat: no-repeat;
            background-position: center;       
            background-size: cover;
            background-attachment: fixed;
        }
        .content_overall_sub_first{}
        .content_overall_sub_first h1{
            margin: 5vh 2.5vw;
            text-align: center;
            font-family: "Josefin Sans",sans-serif;
            text-transform: uppercase;
            letter-spacing: 4px;
            
        }
        .content_overall_sub_second{
            display: grid;           
        }

 /* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .content_overall_sub_second { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .content_overall_sub_second { grid-template-columns: repeat(3, 1fr); }
}
        
        .content_quality{
            display: grid;
            justify-items: center;

        }
            .content_quality_div{
                width: 100px;
                height: 100px;                
                border-radius: 100%;     
                background-color: #3C84AB; 
                display: flex;
                align-items: center;
                justify-content: space-evenly;            
            }
            .content_quality_div img{
                width: 50px;
                height: 50px;
            }
            .content_quality h5{
                text-align: center;
                font-size: 25px;
                font-family: "Josefin Sans",sans-serif;
            }
            .content_quality p{
                font-size: 15px;
                margin: 4vh 2vw 2vh 2vw;
                text-align: center;
                font-family: Lato,sans-serif;
                letter-spacing: 2px;
            
                
            }

        .content_variety{
            display: grid;
            justify-items: center;
        }
            .content_variety_div{
                width: 100px;
                height: 100px;                
                border-radius: 100%;     
                background-color: #3C84AB;  
                display: flex;
                align-items: center;
                justify-content: space-evenly;           

            }
            .content_variety_div img{
                width: 50px;
                height: 50px;
            }
            .content_variety h5{
                text-align: center;
                font-size: 25px;
                font-family: "Josefin Sans",sans-serif;

            }
            .content_variety p{
                font-size: 15px;
                /* margin-top: 2vh; */
                text-align: center;
                margin: 4vh 2vw 2vh 2vw;
                font-family: Lato,sans-serif;
                letter-spacing: 2px;
                 
            }
                .multicolortext {
                    background-image: linear-gradient(to left, violet, indigo, white, blue, yellow, orange, red);
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    font-weight: 900;
        }

        .content_size{
            display: grid;
            justify-items: center;
        }
            .content_size_div{
                width: 100px;
                height: 100px;                
                border-radius: 100%;     
                background-color: #3C84AB;  
                display: flex;  
                align-items: center;
                justify-content: space-evenly;
            }
            .content_size_div img{
                width: 50px;
                height: 50px;
            }
            .content_size h5{
                text-align: center;
                font-size:25px;
                font-family: "Josefin Sans",sans-serif;
            }
            .content_size p{
                font-size: 15px;
                margin: 4vh 2vw 2vh 2vw;
                text-align: center;
                font-family: Lato,sans-serif;
                letter-spacing: 2px;
            
                           
            }
 /* products ands application */
      .product_overall_content_div{
        width: 100%;
        min-height: 100vh;
        display: grid;
        align-content: center;
    }
     /* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .product_overall_content_div { 
        height: auto;
     }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .product_overall_content_div {
         height: auto;
     }
}
    .product_main_header_div{

       
    }
    .product_main_header_div h1{
        margin-top: 5vh;
        text-align: center;
        font-size: 30px;
        letter-spacing: 2px;
        font-family: "Josefin Sans",sans-serif;
        text-transform: uppercase;    
    }
    .product_main_text_div{
        display: grid;
        margin: 1em;
    }
     /* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
.product_main_text_div { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
.product_main_text_div { grid-template-columns: repeat(3, 1fr); }
}
    .product_tiles_div{
        display: grid;
        }
        .product_tiles_div h1{
            font-size: 25px;
            font-family: "Josefin Sans",sans-serif;
            text-align: center;
            margin: 0.5em;
            color: #545454;
        }
        .product_tiles_div p{
            font-size: 16px;
            margin: 1em;
            font-family: Lato,sans-serif;
            color:  #545454;
            line-height: 1.5;
        }
    .product_slab_div{
        display: grid;
    }
        .product_slab_div h1{
            font-size: 25px;
            font-family: "Josefin Sans",sans-serif;
            text-align: center;
            margin: 0.5em;
            color: #545454;
        }
        .product_slab_div p{
            font-size: 16px;
            margin: 1em;
            font-family: Lato,sans-serif;
            color:  #545454;
            line-height: 1.5;
        }
    .product_custom_div{
        display: grid;
    }
        .product_custom_div h1{
            font-size: 25px;
            font-family: "Josefin Sans",sans-serif;
            text-align: center;
            margin: 0.5em;
            color: #545454;
        }
        .product_custom_div p{
            font-size: 16px;
            margin: 1em;
            font-family: Lato,sans-serif;
            color:  #545454;
            line-height: 1.5;
        }
    .application_main_div{
        display: grid;
        margin: 1em;
        
    }
    .application_main_div h1{
        text-align: center;
        margin: 2em 0.5em;
        font-family: "Josefin Sans",sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        
    }
    .appliction_icon_div{
        display: grid;
    }
    
    @media (min-width: 400px) {
        .appliction_icon_div { grid-template-columns: repeat(2, 1fr); }
        }
     
@media (min-width: 600px) {
.appliction_icon_div { grid-template-columns: repeat(4, 1fr); }
}


@media (min-width: 900px) {
.appliction_icon_div { grid-template-columns: repeat(8, 1fr); }
}
    .app_icon_subdiv{
        display: grid;
        justify-content: center;
        margin: 1em;
    }
    .app_icon_subdiv img{
        display: grid;
        width: 100px;
        height: 100px;
        
    }
    .app_icon_subdiv text{
        text-align: center;
        margin: 5px;
        font-family: Lato,sans-serif;
        color:  #545454;
        letter-spacing: 0.5px;
        
    }




 /* map */
 .map_main_div{
    min-height: 97vh;
    min-width: 98vw;
    display: grid;
    grid-template-columns: 20vw 80vw;
}
.map_text_div{
    margin: 2vw;
    color: white;
    text-align: center;
    /* background-color: grey; */
    background-image:url(./map.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    box-shadow: 0 0 50px #ccc;
    overflow: hidden;
}
.map_text_div_head{
    position: relative;
    top: 25vh;
}
.map_content_div{
    margin: 2vw 2vw 2vw 0;
    box-shadow: 0 0 50px #ccc;
}

 /* Contact */
 .contact_main_div{
    min-width: 98vw;
    min-height: 50vh;
    background-image: url(./BIANCO\ BLACK\ -\ EG.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
    .contact_content_div{
        float: right;
        padding-right: 5vw;
        padding-top: 2vw;
    }
    .head_text_contact{
        color: white;
        text-align: center;
    }
    .form_input_div{
        padding: 5px;
        width: 30vw;
    }
    #insideinput{
        width: 100%;
        background-color: #545454;
        color: aliceblue;
        border: 0;
        border-radius: 5px;
        padding: 10px;
        
    }
    #insideinput:focus-visible{
        outline: none;
    }
    input::placeholder{
        color: #E2DFD2
    }

/* footer */

.footer{
    background: transparent;
    /* height: 80vh; */
    display: grid;
    height: 50vh;
}
/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .footer {
         grid-template-rows: repeat(2, 1fr);
         grid-template-rows: 60% 40%;        
        }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .footer { grid-template-rows: repeat(2, 1fr);
              grid-template-rows: 60% 40%;  
    
    }
}
.footer_first_div{
    display: grid;
    width: 100%;
    /* height: 41%; */
    height: auto;
}

        /* Screen larger than 600px? 2 column */
        @media (min-width: 600px) {
            .footer_first_div { grid-template-columns: repeat(2, 1fr); }
          }
          
          /* Screen larger than 900px? 3 columns */
          @media (min-width: 900px) {
            .footer_first_div { grid-template-columns: repeat(3, 1fr); }
          }
          
    .footer_child1{
        margin-top: 5vh;
        padding: 15px;

    }
        .child1header{
            color:lightskyblue;
            font-size: 30px;
            text-align: center;
            font-family: "Josefin Sans",sans-serif;
            text-transform: uppercase;
            padding: 5px;
            letter-spacing: 2px;
        }
        .child1para{
            margin-top: 2vh;
            font-family: Lato,sans-serif;
            color:  #545454;
            font-size: 20px;
            text-align: left;
            text-indent: 75px;
            line-height: 1.5;
        }
    .footer_child2{
        margin-top: 5vh;
        padding: 15px;
    }
        .footer_child2 h3{
            color:lightskyblue;
            font-size: 30px;
            text-align: center;
            font-family: "Josefin Sans",sans-serif;
            text-transform: uppercase;
            padding: 5px;
            letter-spacing: 2px;
        }
        .footer_child2 p{
            margin-top: 2vh;
            font-family: Lato,sans-serif;
            color:  #545454;
            text-align: center;
            text-indent: 25px;
        }
        .tel_no{
            margin-top: 2vh;
            text-decoration: none;
            color: black;    
        }
        .tel_no:hover{
            color: blue;
        }
        .mailto{
            margin-top: 2vh;
            text-decoration: none;
            color: black;
        }
        .mailto:hover{
            color: blue;
        }
    .footer_child3{
        margin-top: 5vh;
        padding: 15px;
    }
        .footer_child3 h3{
            color:lightskyblue;
            font-size: 30px;
            text-align: center;
            font-family: "Josefin Sans",sans-serif;
            text-transform: uppercase;
            padding: 5px;
            letter-spacing: 2px;
        }
        .footer_child3 p{
            margin-top: 2vh;
            font-family: Lato,sans-serif;
            color:  #545454;
            text-align: center;
            
        }
        .footer_child3 > span{
            text-indent:10px;
        }
        .footer_child3 > text{
            text-indent: 5px;
        }


        /* Footer svg */
        .svgtwo{
            bottom: 0;
            z-index: -1;

        }

        .svgtwo path{            
            animation: pathAnim 7s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
            .svgtwo path:nth-child(2) {
                animation-delay: 1s;
            }
            .svgtwo path:nth-child(3) {
                animation-delay: 3s;
            }
            .svgtwo path:nth-child(4) {
                /* animation-play-state: paused; */
                animation-delay: 2s;
            }
            @keyframes pathAnim{
                0%{
                    d: path("M0,192 C220,100,440,100,660,192 C880,290,1100,290,1320,192 L1320,500 L0,500")
                }
                25%{
                    d: path("M0,100 C220,100,440,292,660,292 C880,292,1100,100,1320,100 L1320,500 L0,500")
                }
                50%{
                    d: path("M0,192 C220,290,440,290,660,192 C880,100,1100,100,1320,192 L1320,500 L0,500")
                }
                75%{
                    d: path("M0,292 C220,292,440,100,660,100 C880,100,1100,292,1320,292 L1320,500 L0,500")
                }
                100%{
                    d: path("M0,192 C220,100,440,100,660,192 C880,290,1100,290,1320,192 L1320,500 L0,500")
                }
            }